.chat-badge {
  background-color: var(--teal);
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.mini-badge {
  background-color: var(--teal);
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  right: 5px;
}

.nav-badge {
  background-color: var(--teal);
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  right: -7px;
}

.new-badge {
  margin-left: 10px;
  font-size: 10px;
  background-color: var(--teal);
  width: 18px;
  height: 18px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
